<div data-role="page" data-control-title="Profile" id="page4">
    <div data-theme="a" data-role="header">
        <a href="#page1" data-icon="arrow-l" data-iconpos="left" class="ui-btn ui-btn-f ui-icon-arrow-l ui-btn-icon-left">
            Back
        </a>
        <h1 class="ui-title">
            Profile
        </h1>
    </div>
    <div role="main" class="ui-content">
        <div style=" text-align:center" data-controltype="image">
            <img style="width: 100px; height: px" src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png">
        </div>
        <div data-controltype="textblock">
            <p style="text-align: center;">
                <strong>
                    Bob Evans &nbsp;
                </strong>
            </p>
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput2">
                Current Allergies
            </label>
            <input name="" id="textinput2" placeholder="Milk and Peanuts" value=""
            type="text">
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput3">
                Disliked Food
            </label>
            <input name="" id="textinput3" placeholder="Soup" value="" type="text">
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput4">
                Favourite Meal
            </label>
            <input name="" id="textinput4" placeholder="Raviolli" value="" type="text">
        </div>
    </div>
</div>