
<div data-role="page" data-control-title="Page2" id="page2">
    <div data-theme="b" data-role="header">
        <h1 class="ui-title">
            Recipes
        </h1>
        <a data-transition="slide" href="#page1" data-icon="arrow-l" data-iconpos="left"
        class="ui-btn ui-btn-left ui-icon-arrow-l ui-btn-icon-left">
            Back
        </a>
    </div>
    <div role="main" class="ui-content">
        <div data-controltype="textblock">
            <p style="text-align: center;">
                ﻿
                <span style="font-family: impact, chicago; font-size: x-large;" data-mce-style="font-family: impact, chicago; font-size: x-large;">
                    Vegetarian Club Sandwich
                </span>
            </p>
        </div>
        <a href="#page3" data-controltype="image">
            <div style=" text-align:center">
                <img style="width: 288px; height: 200px" src="http://www.seriouseats.com/assets_c/2016/02/20160212-tofu-recipes-roundup-06-thumb-1500xauto-429901.jpg">
            </div>
        </a>
        <div data-controltype="textblock">
            <p>
                <span style="font-family: 'comic sans ms', sans-serif;" data-mce-style="font-family: 'comic sans ms', sans-serif;">
                    <b>
                        Cost: $6.50&nbsp;
                    </b>
                </span>
            </p>
            <p>
                <span style="font-family: 'comic sans ms', sans-serif;" data-mce-style="font-family: 'comic sans ms', sans-serif;">
                    <b>
                        Prep Time: 30 mins
                    </b>
                </span>
            </p>
        </div>
    </div>
</div>